[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.15"
django-environ = "==0.9.0"
django-extensions = "==3.2.0"
djangorestframework = "==3.13.1"
drf-yasg = "*"
dj-static = "*"
"psycopg2" = "*"
requests = "*"
gunicorn = "*"
pytest = "*"
pytest-django = "*"
pytest-mock = "*"
pytest-cov = "*"
raven = "*"
pytest-factoryboy = "*"
requests-mock = "*"
jinjasql = "==0.1.8"
jinja2 = "==2.11.3"
markupsafe = "==2.0.1"


[dev-packages]
"flake8" = "*"
isort = "*"
docker-compose = "*"
locustio = "*"
pygraphviz = "*"
pydotplus = "*"
pylint = "*"